# Ignorar a pasta de configurações do VSCode
.vscode/

# Ignorar arquivos executáveis do Windows
*.exe

# Ignorar arquivos objeto (saída da compilação)
*.o
*.obj
*.out

# Ignorar arquivos de depuração
*.gdb
*.gch

# Ambientes Virtuais (evita o commit das centenas de pacotes)
.venv/
venv/
env/
ENV/

# Arquivos temporários e de cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd
